
	/*body主代码*/
		body{
			margin: 0;
			padding: 0;
			font-size: 20px;
			background: #8795aa;
			color: black;
		}
		.content-main-nav{
			background: #30486d;
			height: 50px;
			border:1px solid #396b82;
		}
		.content-main-nav-info{
			width: 1190px;
			margin: 0 auto;
			line-height: 50px;
			font-size: .5em;
		}
		.content-main-nav-info>a{
			font-family: cursive;
			font-weight: bold;
			letter-spacing: .2em;
			font-size: 2em;
			color: white;
			text-decoration: none;
		}
		.content-main-nav-info>a:hover{
			color: cornflowerblue;
		}
		.content-main-nav-btn{
			display: inline-block;
			float: right;
			cursor: pointer;
		}
		.content-main-nav-btn>span{
			color: white;
		}
		.content-main-nav-btn>span:nth-last-of-type(odd):hover{
			color: cornflowerblue;
		}
		.content-body-nav-search{
			margin: 0 auto;
			width: 1190px;
			height: 100px;
			text-align: center;
	
		}
		.content-body-nav-search>img{
			margin-top: 5px;
			float: left;
			width: 200px;
			height: 90px;
			vertical-align: middle;
		}
		.content-body-nav-search>input{
			margin-top: 20px;
			width: 450px;
			border: 2px #67a598 solid;
			line-height: 30px;
			font-size: 1.5em;
			outline: none;
		}
		.icon-seach{
			display: inline-block;
			width: 80px;
			font-size:1.5em;
			line-height: 2.3em;
			vertical-align: bottom;
			background: #67a598;
			color: white;
			font-size: .9em;
			padding: 0 .7em;
			cursor: pointer;
			transition: color .2s ease-in-out; 
		}
		.icon-seach:hover{
			color: black;
		}
		.body{
			border-top: 1px solid #396b82;
			background: #30486d;
		}
		.content-body-nav-info{
			margin: 0 auto;
			width: 1190px;
			height: 50px;
			border-bottom: 2px #396b82 solid;
		}
		.content-body-nav-info>ul{
			margin: 0;
			padding: 0;
			list-style-type: none;
			color: gainsboro;
		}
		.content-body-nav-info ul>li{
			margin: 0;
			padding: 0;
			line-height: 50px;
			display: inline-block;
			margin-right: 10px;
			cursor: pointer;
		}
		.content-body-nav-info ul>li:hover{
			color: cornflowerblue;
		}
		.content-body-item-stage{
			margin: 0 auto;
			width: 1190px;
			height: auto;
			font-size: 0px;
		}
		/*personPage重复代码后期可以整合*/
		.content-body-item{
			font-size: 20px;
			overflow: hidden;
			margin: 4px;
			display: inline-block;
			width: 230px;
			height: 250px;
			background: white;
			box-shadow: 2px 2px 5px 1px #385e70;
		}
		.content-body-item-img{
			position: relative;
			overflow: hidden;
		}
		.content-body-item-img{
			font-size: 0;
		}
		.content-body-item-img>img{
			width: 230px;
			height: 150px;
			transition: all .5s ease-out;
			cursor: pointer;
		}
		.content-body-item-img>img:hover{
			transform: scale(1.3);
		}
		
		.content-body-item>p:first-of-type{
			color: darkred;
			margin: 0;
			padding: 5px;
			font-size: .7em;
		}
		.content-body-item>p{
			margin: 0;
			padding: 5px;
			font-size: .7em;

		}
		.content-body-item>p:last-of-type{
			position: relative;
		}
		.content-body-item span:hover{
			text-decoration: underline;
			cursor: pointer;
			
		}
		.icon-person{
			width: 18px;
			height: 18px;
			margin-right: 5px;
			vertical-align: -15%;
		}
		
		.content-body-item-more{
			display: block;
			width: 1190px;
			margin: 0 auto;
			margin-top: 50px;
			text-align: center;
			padding-bottom:80px ;
		}
		.btn {
			padding: .3em .8em;
			border: .05em solid rgba(0, 0, 0, .1);
			background: #58a linear-gradient(hsla(0, 0%, 100%, .2), transparent);
			border-radius: .2em;
			box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
			color: white;
			text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
			font-size: 125%;
			line-height: 1.5em;
		}
		.btn-light-blue{
			letter-spacing: .3em;
			font-size: 1em;
			color: white;
			background: hsla(167,45%,55%,.9);
			width: 500px;
			box-shadow: 0 0 5px 1px #115849;
			outline: none;
			transition: background-color .2s ease-in-out;
		}
		.btn-red{
			background: #fa574f;
		}
		.content-body-item-btn{
			position: absolute;
			top: 0;
			right: 10px;
			font-size: 12px;
			border-radius:12px ;
			cursor: pointer;
			outline: none;
			text-decoration: none;
		}
		.content-body-item-btn:hover{
			background: #fd281e;
		}
		.btn-light-blue:hover{
			background: #10b592;
		}
		.footer{
			border-top:2px solid #396b82 ;
			background: #8795aa;
			height: 150px;
		}
		.ah{
			color: white;
			text-decoration: none;
		}
		
		