/*动画代码*/
	/*个人用户信息左边栏动画*/
	@keyframes person-info-in{
		from{
			transform: translateX(0);
		}
		to{
			transform: translateX(250px);
		}
	}
	@keyframes person-info-out{
		from{
			transform: translateX(250px);
		}
		to{
			transform: translateX(0);
		}
	}
	@keyframes person-arrow-right{
		from{
			transform: rotateZ(180deg);
		}
		to{
			transform: rotateZ(0);
		}
	}
	@keyframes person-arrow-left{
		from{
			transform: rotateZ(0);
		}
		to{
			transform: rotateZ(-180deg);
		}
	}
	/*注册登录页面动画*/
	@keyframes page-scale-in{
		from{transform: scale(0,0);}
		to{transform: scale(1,1);}
	}
	@keyframes page-move-out{
		from{opacity: 1; transform: translateY(0px); }
		to{opacity: 0; transform: translateY(-100px);}
	}
	/*登录注册样式后期可以整合*/
		.content-login-registe{
			transform: scale(0);
			text-align: center;
			width: 450px;
			height: 700px;
			position: fixed;
			left: 50%;
			top: 50%;
			margin: -350px 0 0 -225px;
			border-top: 10px #ca0505 solid;
			background: linear-gradient(-225deg,rgba(237,237,237,.8) 97%,transparent 0);
		}
		.content-login-close{
			position: absolute;
			right: 0;
		}
		.content-login-close>button{
			font-size: 1.2em;
			font-family: cursive;
			background:transparent;
			border: none;
			outline: none;
			cursor: pointer;
		}
		.content-login-close>button:active{
			color: red;
		}
		.content-login-registe>p{
			text-align: center;
			font-family: courier;
			font-size: 4em;
			font-weight: bold;
			color: black;
			margin: 0;
			padding: 0;
			margin-left: -5px;
			margin-top: 30px;
			height: 100px;
			line-height: 100px;
		}
		.content-login-btn,.content-registe-btn{
			background-color: rgb(237,237,237);
			margin-bottom: -1px;
			display: inline-block;
			height: 50px;
			width: 150px;
			border: .5px dashed #6c6c6c;
			border-bottom: none;
			cursor: pointer;
		}
		.content-login-btn>p,.content-registe-btn>p{
			color: #CA0505;
			margin: 0;
			padding: 0;
			line-height: 50px;
		}
		.content-login-formset{
			background-color: rgb(237,237,237);
			width: 100%;
			height: 450px;
			border-top: .5px dashed #6c6c6c;
		}
		.content-login-formset>img{
			width: 200px;
			height: 200px;
		}
		.content-login-from>input{
			margin: 10px auto;
			display: block;
			font-size: 1.4em;
			border: 1px solid #7a7a7a;
			outline: none;
			border-radius: .2em;
			background:transparent;
		}
		.content-login-from>input[type='checkbox'],.content-login-from>input[type='submit']{
			display: inline;
		}
		.content-login-from>input[type='submit']{
			margin-left: 80px;
			font-size: .9em;
			background-color: #193662;
		}
		.content-registe-fromset{
			background-color: rgb(237,237,237);
			width: 100%;
			height: 450px;
			border-top: .5px dashed #6c6c6c;
		}
		.content-registe-from>input{
			margin: 15px auto;
			display: block;
			font-size: 1.4em;
			border: 1px solid #7a7a7a;
			outline: none;
			border-radius: .2em;
			background:transparent;
		}
		.content-registe-from>input:nth-of-type(5){
			margin-bottom: 0;
		}
		.content-registe-from>input[placeholder="VerificationCode"]{
			margin: 0;
			padding: 0;
			display: inline;
			width: 210px;
		}
		.content-registe-from>input[type='button']{
			display: inline;
			width: 100px;
			background: #193662;
			color: white;
			box-shadow: 0px 1px 2px .5px gray;
			margin-left: 25px;
		}
		.content-registe-from>input[type='submit']{
			margin-top: 0px;
			letter-spacing: .5em;
			width: 350px;
			background-color: #193662;
		}
		.blur{
			filter:blur(5px) contrast(.8) brightness(.8);
		}
		
		/*个人信息左边栏代码 后期可以整合*/
		.content-person-info{
			position: fixed;
			width: 250px;
			height: 100%;
			background-color: rgba(0,0,0,.8);
			left: -250px;
			top: 0;
		}
		.content-person-info .content-person-show-btn{
		
			display: block;
			width: 100px;
			height: 100px;
			position: absolute;
			right: 0;
			top: 60%;
			margin-top:-70px ;
			margin-right: -60px;
			/*background: radial-gradient(hsla(216,2%,25%,.9),hsla(216,2%,0%,.5)) url(../img/more.png)  no-repeat fixed;*/
			/*background-blend-mode: multiply;*/
			background: hsla(216,100%,15%,.8) url(../img/icon/more.png) no-repeat ;
			background-position: 10px 6px;
			background-size: 90px 90px;
			border-radius: 50px;
			color: white;
			transition: all .2s ease-in-out;
			cursor: pointer;
		}
		.content-person-info .content-person-show-btn:hover{
			box-shadow: 0 0 5px 3px white;
		}
		.content-person-info .content-person-show-btn:active{
			box-shadow:0 0 5px 1px white;
		}
		.content-person-info .content-person-image{
			background: gainsboro;
			width: 200px;
			height: 200px;
			margin: 50px auto;
			border-radius: 100px;
			border: 3px solid gray;
			overflow: hidden;
		}
		.content-person-info .content-person-image>img{
			width: 200px;
			height: 200px;
		}
		.content-person-detail{
			color: white;
			text-align: center;
		}
		.content-person-detail>button{
			outline: none;
			display: inline-block;
			margin-top: 20px;
			font-size: 1em;
			width: 200px;
			background: #193662;
			box-shadow: 0 0 5px 2px #585f69;
			cursor: pointer;
			transition: box-shadow .3s ease-in-out;
		}
		.content-person-detail>button:hover{
			box-shadow: 0 0 5px 2px gainsboro;
		}
		.warning{
			color: red;
		}
