/*body主代码*/
		body{
			margin: 0;
			padding: 0;
			font-size: 20px;
			background: #8795aa;
			color: black;
		}
		.content-main-nav{
			background: #30486d;
			height: 50px;
			border:1px solid #396b82;
		}
		.content-main-nav-info{
			width: 1190px;
			margin: 0 auto;
			line-height: 50px;
			font-size: .5em;
		}
		.content-main-nav-info>a{
			font-family: cursive;
			font-weight: bold;
			letter-spacing: .2em;
			font-size: 2em;
			color: white;
			text-decoration: none;
		}
		.content-main-nav-info>a:hover{
			color: cornflowerblue;
		}
		.content-main-nav-btn{
			display: inline-block;
			float: right;
			cursor: pointer;
		}
		.content-main-nav-btn>span{
			color: white;
		}
		.content-main-nav-btn>span:nth-last-of-type(odd):hover{
			color: cornflowerblue;
		}
		.content-main-order-title{
			width: 1190px;
			margin: 0 auto;
			color: black;
			font-size: .7em;
		}
		.content-main-order-title p:first-of-type{
			font-size: 1.9em;
		}
		.content-main-order-title a:link{
			color: black;
		}
		.content-main-order-title a:visited{
			color: black;
		}
		.content-main-order-title a:hover{
			color: white;
		}
		.content-main-order-address{
			width: 1190px;
			margin: 0 auto;
			border-top: 1px solid #396b82;
		}
		.content-main-order-item{
			width: 250px;
			height: 300px;
			display: inline-block;
			margin-right: 100px;
		}
		.btn {
			padding: .3em .8em;
			border: .05em solid rgba(0, 0, 0, .1);
			background: #58a linear-gradient(hsla(0, 0%, 100%, .2), transparent);
			border-radius: .2em;
			box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
			color: white;
			text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
			font-size: 125%;
			line-height: 1.5em;
		}
		.content-main-order-item p:first-of-type{

			font-size: .8em;
		}
		.content-main-order-item p {
			font-size: .7em;			
		}
		.content-main-order-send{
			background: linear-gradient(orange,darkorange);
			border: none;
			color: black;
			text-shadow: none;
			font-size: .8em;
			width: 250px;
			line-height: 30px;
		}
		.content-main-order-delete{
			background: linear-gradient(white,darkgray);
			border: none;
			color: black;
			text-shadow: none;
			font-size: .8em;
			margin-top: 10px;
			line-height: 20px;
			width: 250px;
		}
		.content-main-order-Naddress{
			color: black;
			width: 1190px;
			margin: 0 auto;
			padding: 10px 0;
			border-top: 1px solid #396b82;
			border-bottom: 1px solid #396b82;
			background: linear-gradient(to left,transparent,#738da4,transparent);
		}
		.new{
			width: auto;
			margin-left: 240px;
		}
		.hr{
			border:none;
			border-top: .1px solid #396b82 ;
		}
		.form-input{
			color: black;
			border-radius:5px ;
			border: 1px solid #396b82;
			font-size: 1.3em;
			width: 400px;
			margin-bottom: 20px;
		}
		.content-main-address-add-title{
			font-size: 1.2em;
			line-height: .1em;
		}
		.content-main-address-add-subtitle{
			font-size: .7em;
			line-height: .1em;
		}
		.address-form{
			font-size: .7em;
		}
		.address-form>label{
			font-weight: bold;
		}
		.footer{
			margin-top:50px ;
			border-top:2px solid #396b82 ;
			background: #30486d;
			height: 150px;
		}
		.content-item-info{
			position: absolute;
			left: 50%;
			margin-left: -595px;
			width: 1190px;
		}
		.content-item-info-title{
			font-size: 1.3em;
		}
		.content-item-info-subtitle{
			font-size: .8em;
			margin-top: -20px;
		}
		.step{
			width: 405px;
			float: left;
		}
		.div-step{
			width: 1190px;
			margin: 0 auto;
			height: 10px;
			padding-top:20px ;
		}
		
		/*图片div代码片段*/
		.form-file{
			position: relative;
			padding: 0;
			margin: 0;
			display: inline-block;
			vertical-align: top;
			width: 300px;
			height: 200px;
			border: 1px dashed gray;
			background: white;
		}
		input[name='IdCard']{
			opacity: 0;
			width: 300px;
			height: 200px;
			
		}
		.img-up{
			position: absolute;
			left: 0;
			top: 0;
			width: 300px;
			height: 200px;
<<<<<<< HEAD
			background: url(../img/backgroundImg.jpg);
			background-size: cover;
			background-repeat: no-repeat;
=======
			background: url(img/backgroundImg.jpg);
			background-size:cover ;
>>>>>>> ceb7fb2697dcd2f9b62a6913aeb9f39c47b8b6aa
		}
		.mark{
			position: absolute;
			left: 0;
			top: 0;
			width: 300px;
			height: 200px;
			/*此处background进行了修改*/
			background: #396B82;
		}
		.form-file-add{
			position: absolute;
			left: 118px;
			top: 68px;
			height: 64px;
			width: 64px;
			background:url(../img/personInfoChange/addition.png);
		}
		.form-file-close{
			position: absolute;
			top: 0;
			left: 0;
			width: 300px;
			height: 40px;
			background: hsla(0,0%,0%,.3);
		}
		.form-file-close-icon{
			position: absolute;
			top: 4px;
			right: 10px;
			width: 32px;
			height: 32px;
			background: url(../img/personInfoChange/delete.png);
			background-size:cover ;
		}
<<<<<<< HEAD
		/*图片div代码片段*/
		.warning{
			line-height: 0px;
			font-size: 1.5em;
			color: darkred;
			padding-left: 20px;
		}
=======
		/*图片div代码片段*/
>>>>>>> ceb7fb2697dcd2f9b62a6913aeb9f39c47b8b6aa
